<h2 style="color:white">Write New Post</h2>

<%= form_for(@blog_post) do |f| %>
  <div class="form-group" style="color:white">
    <label>Ttile</label>
    <%= f.text_field :title, :autocomplete => "off", class: "form-control", placeholder: "Post Ttile", required: true%>
    <br/>
    <label>Content</label>
    <%= f.text_area :content, :cols => 50, :rows => 10, class: "form-control", placeholder: "Post Content", required: true%>
    <br/>
    <%= f.submit "Post", text: "create", class: "btn btn-danger" %>
  </div>
<% end %>
