<div class="jumbotron my-5 border border-primary" style="text-align: center ; border-radius: 20px;background-color :#F9EBD2">
  <h1 class="display-4"><b>Welcome to BlogPost Website</b></h1>
  <p class="lead">A place to read and write blogs</p>
  <!--<hr class="my-4">
  <p>
  You can write your own blogs and read other interesting ones as well.<br/>
  Do not forget to like the posts and show your appreciation towards them.<br/>
  Feel free to comment if you have any thoughts to share.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%=blog_posts_path%>" role="button"><center>Let's get started</center></a>
  </p>-->

  <a class="btn btn-lg" style = "background-color: #E75732;color: #fff" href="<%=blog_posts_path%>" role="button">Let's get started</a>
</div>
