
.thicker {
  font-weight: 700;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.center {
  margin: 0 auto;
  width:50%;
  padding: 10px;

}
.form-group{
  width: 60%;
  margin: 0 auto;
}
.btn-space {
    margin-right: 1px;
}

.btn{
  width: 100px;
  text-align: center;

}
.right {
   display: inline-block;
   text-align: right;
   width: 72.5%;
}
.modal-body{
  text-indent: 30%;
}