h1
{
	font-family: arial;
	text-align: center;
}

.btn-group button:hover {
	background-color: #3e8e41;
}

.center {
	margin: 0 auto;
	width:30%;
	padding: 10px;
}

.wrap {
	width: 80%;
}

.vertical-center {
	min-height: 100%;  
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;

}
.thicker {
	font-weight: 700;
}
